* {
    -fx-font-family: "Times New Roman", serif;
}

.button {
    -fx-background-color: #7698ff;
    -fx-background-radius: 60 60 0 0;
    -fx-font-size: 62px;
}

.button:hover {
    -fx-background-color: #07f7f7;
    -fx-background-radius: 60 60 0 0;
}

.button:-moz-suppressed {
    -fx-background-color: #07f7f7;
    -fx-background-radius: 60 60 0 0;
}

.button:pressed {
    -fx-background-color: #f65353;
    -fx-background-radius: 60 60 0 0;
}

.slider {
    -fx-pref-width: 400px;
}

.slider .track {
    -fx-background-color: linear-gradient(to left, magenta, cyan);
    -fx-pref-height: 7px;
    -fx-background-radius: 0;
}

.slider .thumb {
    -fx-pref-height: 20px;
    -fx-pref-width: 10px;
    -fx-background-color: linear-gradient(to top, cyan, rgb(92, 146, 232));
    -fx-background-radius: 0;
}